<html>
  <head>
    <meta charset="utf-8">
    <title>Consultar Matchs</title>
    <style type="text/css">
		@import url(http://fonts.googleapis.com/css?family=Bitter);
		body {
		    font-family: "Bitter", sans-serif;
		    font-size: 20px;
		    text-align: center;
		}

		input {
			font-family: "Bitter", sans-serif;
			width: 375px;
			margin: 10px auto;
    		padding: 16px;
			font-size: 15px;
			border: 1px solid #ccc;
		}

		.botao {
			background-color: #000;
			color: #FFF;
			font-size: 20px;
		}
    </style>
    <script src="{{url_for('static', filename='js/jquery-1.2.6.pack.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/jquery.maskedinput-1.1.4.pack.js')}}" type="text/javascript" /></script>
    <script type="text/javascript">
			$(document).ready(function(){	$("#cnpj").mask("99.999.999/9999-99");});
    </script>
    <script>
      function TestaCNPJ(cnpj) {

  	    cnpj = cnpj.replace(/[^\d]+/g,'');

  	    if(cnpj == '') return false;

  	    if (cnpj.length != 14)
  		return false;

  	    // Elimina CNPJs invalidos conhecidos
  	    if (cnpj == "00000000000000" ||
  		cnpj == "11111111111111" ||
  		cnpj == "22222222222222" ||
  		cnpj == "33333333333333" ||
  		cnpj == "44444444444444" ||
  		cnpj == "55555555555555" ||
  		cnpj == "66666666666666" ||
  		cnpj == "77777777777777" ||
  		cnpj == "88888888888888" ||
  		cnpj == "99999999999999")
  		return false;

  	    // Valida DVs
  	    tamanho = cnpj.length - 2
  	    numeros = cnpj.substring(0,tamanho);
  	    digitos = cnpj.substring(tamanho);
  	    soma = 0;
  	    pos = tamanho - 7;
  	    for (i = tamanho; i >= 1; i--) {
  	      soma += numeros.charAt(tamanho - i) * pos--;
  	      if (pos < 2)
  		    pos = 9;
  	    }
  	    resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
  	    if (resultado != digitos.charAt(0))
  		return false;

  	    tamanho = tamanho + 1;
  	    numeros = cnpj.substring(0,tamanho);
  	    soma = 0;
  	    pos = tamanho - 7;
  	    for (i = tamanho; i >= 1; i--) {
  	      soma += numeros.charAt(tamanho - i) * pos--;
  	      if (pos < 2)
  		    pos = 9;
  	    }
  	    resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
  	    if (resultado != digitos.charAt(1))
  		  return false;

  	    return true;
      }

      function ValidarCNPJ(){
        if(TestaCNPJ(document.formCNPJ.cnpj.value))
		      return true;
      	else {
      		alert('O CNPJ digitado não é válido');
      		return false;
      	}
      }
    </script>
  </head>
  <body>
  <h1>Buscar matchs</h1>
    <form action="http://localhost:5000/consult" method="post" enctype='application/json' name="formCNPJ" onsubmit="return ValidarCNPJ();">
      {% if error %}
        <script> alert('{{ error }}'); </script>
      {% endif %}
      <input type="text" name="cnpj" id="cnpj" placeholder="Informe o CNPJ" value="{{cnpj or ""}}"><br>
      <input type="submit" name="btnconsultar" value="Consultar" class="botao"><br>
    </form>
  </body>
</html>
